@model ComputerNetworksProject.Data.Payment
@using ComputerNetworksProject.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Payment";
}
<div class="container">
    <div class="row fw-bold d-flex justify-content-center">
        <div class="col-sm-1 col-2 rounded-circle bg-success  bg-opacity-75 p-2 text-center">
            <i class="bi bi-card-checklist fs-5"></i>
        </div>
        <div class="col-sm-2 col-1 p-0 pt-2">
            <hr class="border border border-success border-2 h-0" />
        </div>
        <div class="col-sm-1 col-2 rounded-circle bg-success bg-opacity-75 p-2 text-center">
            <i class="bi bi-truck fs-5"></i>
        </div>
        <div class="col-sm-2 col-1 p-0 pt-2">
            <hr class="border border border-success border-2 h-0" />
        </div>
        <div class="col-sm-1 col-2 rounded-circle bg-success bg-opacity-75 p-2 text-center">
            <i class="bi bi-credit-card fs-5"></i>
        </div>
        <div class="col-sm-2 col-1 p-0 pt-2">
            <hr class="border border border-secondary border-2 h-0" />
        </div>
        <div class="col-sm-1 col-2 rounded-circle bg-secondary bg-opacity-75 p-2 text-center">
            <i class="bi bi-patch-check fs-5"></i>
        </div>
    </div>
    <form asp-action="Payment">
    <div class="row mt-5 mb-3 p-2">
            <div class="col-12 mb-2">
                <label asp-for="CreditCardNumber" class="form-label">Credit Card Number:</label>
                <input asp-for="CreditCardNumber" class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX"/>
                <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="col-md-4 col-6 mb-2">
                <label asp-for="MonthExp" class="form-label">Expires Month:</label>
                <input asp-for="MonthExp" class="form-control" />
                <span asp-validation-for="MonthExp" class="text-danger"></span>
            </div>
            <div class="col-md-4 col-6 mb-2">
                <label asp-for="YearExp" class="form-label">Expires Year:</label>
                <input asp-for="YearExp" class="form-control" />
                <span asp-validation-for="YearExp" class="text-danger"></span>
            </div>
            <div class="col-md-4 col-6 mb-2">
                <label asp-for="Cvv" class="form-label">CVV:</label>
                <input asp-for="Cvv" class="form-control" />
                <span asp-validation-for="Cvv" class="text-danger"></span>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="col-12 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Save" type="checkbox">
                        <label class="form-check-label" asp-for="Save">
                            Save payment data
                        </label>
                    </div>
                </div>
            }
    </div>
    <div class="row p-2 mb-3">
        <div class="col-6 d-grid d-block">
            <a asp-action="Shipping" asp-controller="Checkout" class="btn btn-secondary">Back</a>
        </div>
        <div class="col-6 d-grid d-block">
            <input type="submit" class="btn btn-success" value="Next"></input>
        </div>
    </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
