<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary-tertiary">Tertiary</button>
            <button type="button" class="btn btn-quaternary">Quaternary</button>
            <button type="button" class="btn btn-quinary">Quinary</button>
            <button type="button" class="btn btn-senary">Senary</button>
            <button type="button" class="btn btn-septenary">Septenary</button>
            <button type="button" class="btn btn-octonary">Octonary</button>
            <button type="button" class="btn btn-nonenary">Nonenary</button>
            <button type="button" class="btn btn-denary">Denary</button>
        </div>
    </div>
</div>