@page
@model RegisterConfirmationModel

@{
    ViewData["Title"] = "Confirm account";
}

@{
    <div class="container-fluid">
        <div class="row justify-content-center gy-3">
            <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8 pt-5">
               <h3 class="fw-bold col-12 my-5">
                   Please check your email to confirm your account.
               </h3>
                <a asp-page="./Login" class="btn btn-primary btn-block">Back to log in<span class="ms-3"><i class="bi bi-arrow-return-right"></i></span></a>
           </div>
        </div>
    </div>
    
}

