@model ComputerNetworksProject.Data.Cart
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="cartoffcanvas">
  <div class="offcanvas-header border-bottom border-1">
    <div class="row">
        <h3 class="offcanvas-title mb-2 col-12" id="offcanvasWithBothOptionsLabel">Cart</h3>
        <h6 class="col-sm-6 col-12">Total items: 5</h6>
        <h6 class="col-sm-6 col-12">Total price: 200$</h6>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body pt-0">
    <div class="row">
        <partial name="_CartItemPartial" model="Model.CartItems.First()"/>
    </div>
  </div>
  <div class="container-fluid border-top border-2 p-2">
        <button class="btn btn-primary col-12 mb-2" type="button">Check out</button>
        <button class="btn btn-danger col-12" type="button">Clear cart</button>
  </div>
</div>