@model ComputerNetworksProject.Data.CartItem

@{
    string imgSrc = "";
    if (Model.Product is not null && Model.Product.Img is not null && Model.Product.ImgType is not null)
    {
        imgSrc = String.Format("data:image/{0};base64,{1}", Model.Product.ImgType, Convert.ToBase64String(Model.Product.Img));
    }
}

<div class="col-12 border-top">
    <div class="row">
        <div class="col-4 d-flex justify-content-center align-items-center p-2">
            <img src="~/images/logo.jpg" style="object-fit:contain; width:100%; height:100%;" />
        </div>
        <div class="vstack gap-1 col-7 d-flex justify-content-center align-items-center py-1">
            <div class="fw-semibold">@Model.Product.Name</div>
            <div class="">Price: 300$</div>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-link text-dark-emphasis"><i class="bi bi-caret-left-fill"></i></button>
                <input class="form-control form-control-sm w-25 mx-1 text-center" value="@Model.Amount" readonly />
                <button class="btn btn-link text-dark-emphasis" disabled><i class="bi bi-caret-right-fill"></i></a>
            </div>
        </div>
        <div class="col-1 p-2">
            <button type="button" class="btn-close btn-sm"></button>
        </div>
    </div>
</div>
