@model ComputerNetworksProject.Data.Cart?
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="cartoffcanvas">
  <div class="offcanvas-header border-bottom border-1">
    <div class="row">
            @if (Model is not null)
            {
                <h3 class="offcanvas-title mb-2 col-12" id="offcanvasWithBothOptionsLabel">Cart</h3>
                <h6 class="col-sm-6 col-12" id="totalItems">Total items: @Model.GetItemsCount()</h6>
                <h6 class="col-sm-6 col-12" id="totalPrice">Total price: @Model.GetTotalPrice()$</h6>
            }
            else
            {
                <h2>No active cart</h2>
            }
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
    @if (Model is not null)
    {
        <div class="offcanvas-body pt-0">
            <div class="row" id="cartItem-container-@Model.Id">
                @foreach (var cartItem in Model.CartItems)
                {
                    <partial name="_CartItemPartial" model="cartItem" />
                }
            </div>
        </div>
        <div class="container-fluid border-top border-2 p-2">
            <button class="btn btn-primary col-12 mb-2" type="button">Check out</button>
            <button class="btn btn-danger col-12" type="button">Clear cart</button>
        </div>
    }
</div>
@if (Model is not null)
{
<script>
    const cartIconBadge = document.getElementById("cartIconCount")
    cartIconBadge.classList.remove("d-none")
    cartIconBadge.innerText=@Model.GetItemsCount()
</script>
}

<script src="~/js/Cart.js" asp-append-version="true"></script>
 